
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*Box sizing é pra o padding não interferir na largura ou tamanho, margin e padding zero são para ter maior controle  */

body {
    font-family: 'Roboto', sans-serif;

}

/*Utility Classes*/

.btn-primary{
    background: #1DB954;
    color: white;
    text-transform: uppercase;
    padding: 15px 60px;
    border: none;
    border-radius: 30px;
    letter-spacing: 1px;
    font-weight: bold;
    transition: all 300ms ease ;

}

.btn-primary:hover {
    background: #1ed760;
    cursor: pointer;
    transition: all 300ms ease ;
}

.logo {
    height: 40px;
    width: auto;
    
}


/*NAVBAR*/ 

#navbar {
    display: flex;
    background-color: rgba(0,0,0,0.6);
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;

}

#navbar .navbar-container {
    width: 60%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    color: white;
     
}


 #navbar .navbar-container ul {
     display: flex;
     list-style: none;
     font-weight:bold ;

 }

 #navbar .navbar-container ul li {
     padding: 0 20px;
     transition: all 300ms ease;

 }

 #navbar .navbar-container ul li:hover {
    color: #1db954;
    cursor: pointer;
 }

/* :nth-child(3) pega a terceira LI da UL e assim por diante, para apenas estilzarmos ela*/

 #navbar .navbar-container ul li:nth-child(3){
     border-right: 1px solid white ;

 }

  /*SHOWCASE*/

  #showcase {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      background: url("./img/showcase.webp") center center/cover;
      background-color: rgba(0,0,0,0.5);
      background-blend-mode: color;

  }

  #showcase .showcase-container {
      display: flex;
      flex-direction: column; /* flex-direction: column deixa em forma de coluna*/
      align-items: center;

  }

   #showcase .showcase-container h2 {
       font-size: 5rem;

   }

   #showcase .showcase-container p {
    margin:15px 0;
    font-size: 1.1rem ;

   }

   /*FOOTER*/
   #footer {
       background: black;
       color: white;
       padding: 80px 0;

   }

   #footer .footer-content {
       margin: auto;
       display: flex;
       width: 60%;
       justify-content: space-between;
       

   }

   #footer .footer-content .footer-menu {
       margin: 0 40px;
       list-style: none;

   }

   #footer .footer-content .footer-menu .footer-menu-item {
        margin: 25px 0;
        transition:all 300ms ease;
    
   }

   #footer .footer-content .footer-menu .footer-menu-item:hover {
    background-color: #1DB954;
    cursor:pointer;
   }
       

   #footer .footer-content .footer-menu p  {
       font-weight: bold;
       text-transform: uppercase;
       color: #919496;
       font-size: 0.8rem; 

   }

   /*FOOTER SOCIALS*/

   .socials {
       display: flex;

   }

   .socials i {
       margin: 0 20px;
       font-size: 1.7rem;
   }

   /*FOOTER INFO*/
   
   .footer-info {
       display: flex;
       justify-content: space-between;
       align-items: flex-end;
       width: 60%;
       margin: auto;
       color: #919496;
       display: flex;
       font-size: 0.75rem;
       padding-top: 50px;

   }

   .footer-info .footer-info-itens {
       list-style: none;
       display: flex;
       
       
   }
   .footer-info .footer-info-itens li:hover {
    background-color: #1DB954;
    cursor:pointer;
   }


   .footer-info .footer-info-itens .footer-info-item {
       margin: 0 10px;
       font-weight: bold;
       padding-top: 30px;
       
   }


   .footer-info .rights .country {
       display: flex;
       justify-content: flex-end;
       align-items: center ;
       margin-bottom: 10px;
        

   }

   .footer-info .rights .country .brazil-flag {
       width: auto;
       height: 20px ;
       display:inline-block;
       margin-left: 10px;
   }

   